[submodule "traefik"]
	path = traefik
	url = ../ha-addon-traefik.git
[submodule "davinci-resolve"]
	path = davinci-resolve
	url = ../ha-addon-davinci-resolve.git
[submodule "unifi-controller"]
	path = unifi-controller
	url = ../ha-addon-unifi-controller.git
